<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1041329746110-stl404folnm94nc52kfnbg6kvbg7pqoe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041329746110-stl404folnm94nc52kfnbg6kvbg7pqoe</string>
	<key>API_KEY</key>
	<string>AIzaSyAP5AmVt5JVOlgG4Nh35jFIJGE1ZzO2N3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1041329746110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.catiasouza.SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-c900d</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-c900d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041329746110:ios:9751ca4263a8774e62aeef</string>
	<key>DATABASE_URL</key>
	<string>https://snapchatclone-c900d.firebaseio.com</string>
</dict>
</plist>